
body {
    background-color: dodgerblue;
}
h1 {
    color: white;
}
.navbar {
    text-align: center;
}

.navbar li {
    display: inline;
    padding: 20px;
}
.navbar li a {
    text-decoration: none;
    color: white;
}
.homescreen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.columns {
   column-count:3;
   -moz-column-count:3;
   -webkit-column-count: 3;
}

.columns p {
    padding: 10px;
    border-left: 15px;
}

.gallery img{
    display: inline-block;
    padding: 30px;
}
.gallery {
    text-align: center;
    
}

