/*.btn {*/
/*    background-color: dodgerblue;*/
/*    color: white;*/
    
/*}*/
/*.success {*/
    
/*}*/
/*.info {*/
    
/*}*/
/*.danger {*/
    
/*}*/

/*.row {*/
/*    background-color: dodgerblue;*/
/*}*/

.black {
    background-color: black;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}